h2 {
  color: #006eb6;
  border-bottom: .5px solid black;
  width: 100%;
}

.title {
  text-align: center;
  letter-spacing: 0.2rem;
  /* line-height: 1.5; */
  text-transform: capitalize;
}

.content {
  max-width: 600px;
  margin: auto;
  font-size: 20px;
}

div {
  border: solid;

}


.Logo {
  height: 140px;
  float: right;
}
