h2 {
  color: #006eb6;
  font-size: 12;
}


.title {
  text-align: center;
  letter-spacing: .2rem;
  text-transform: capitalize;
}

content {
    max-width: 600px;
    margin: auto;
}

.Logo {
  height: 150px;
  line-height: 1.5;
}
