@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #473144;
}

header {
  font-family: Lora, Impact, serif;
}

h1 {
  color: #473144;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  color: #af1b3f;
  justify-content: end;
  justify-items: end;
  border-bottom: solid #efc69b;
  border-top: solid #efc69b;
  list-style-type: none;
  max-width: 90%;
}

h2 {
  color: #af1b3f;
}

main {
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 1rem;
  padding: 1rem 2rem;
  align-items: start;
}

.book {
  min-width: 380px;
  display: grid;
  grid-template-columns: 20% 1fr;
}

.book-image {
  display: block;
  justify-self: center;
}

.book-info {
  border-right-color: #efc69b;
}

.filter-section {
  min-width: 150px;
  border: 1px solid #af1b3f;
}

article {
  display: grid;
  grid-template-rows: repeat(4, 90px);
}
