:root {
  /* Color Palette*/
  --primary-color: #22181c;
  --secondary-color: #f0a202;
  --accent1-color: #837569;
  --accent2-color: #bfd2bf;

  /* Typorgaphy */
  --heading-font: "IM Fell French Canon SC";
  --paragraph-font: Solway, Helvetica, sans-serif;

  /* Defaults */
  --headline-color-on-white: var(--primary-color);
  --headline-color-on-color: white;
  --paragraph-color-on-white: var(--primary-color);
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: var(--primary-color);
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: white;
  --nav-hover-background-color: var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #778da9;
    --secondary-color: #07004d;
    --accent1-color: #bfd7ea;
    --accent2-color: #d4aa7d;
  }
}

body {
  font-family: var(--paragraph-font);
  margin: 0;
  padding: 0;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: 2px solid var(--accent1-color);
  outline-offset: 3px;
}

h2, h3 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  text-align: center;
  margin: 1rem;
}

header {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 150px auto;
}

.Logo {
  width: 60px;
  height: 60px;
  border-radius: 75%;
  margin-left: 20px;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

nav {
  display: flex;
  justify-content: right;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  max-width: 100%;
}
nav a {
  text-align: center;
  background-color: var(--primary-color);
  text-decoration: none;
  color: #d4aa7d;
  text-decoration: bold;
  padding: 10px 20px;
}
nav a:hover {
  background-color: var(--secondary-color);
  text-decoration: underline;
  color: #22181c;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  z-index: -1;
}
#hero-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: 1/ -1;
  grid-row: 1/3;
  padding: 4rem 1rem;
}
#hero-msg h1,
#hero-msg h4 {
  text-align: center;
  background-color: var(--primary-color);
  color: aliceblue;
}
#hero-msg h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  font-family: var(--heading-font);
  font-weight: 400;
}
#hero-msg h4 {
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  font-family: var(--heading-font);
  font-weight: 400;
}
#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
} 
#hero-image,
#hero-image-home {
  width: 100%;
  max-width: 100rem;
  height: auto;
  max-height: 550px;
  object-fit: cover;
  transition: opacity 0.5s ease;
}

.search_row {
  display: flex;
  margin: 1%;
  padding: 0.8%;
  gap: 0.5rem;
  align-items: center;
}
.search_row input {
  flex-grow: 1;
  height: 2rem;
}
.search_row img {
  height: 23px;
}

.books,
.movies {
  margin: 2rem;
  height: auto;
  width: auto;
}
.book-image {
  display: block;
  justify-self: center;
  width: auto;
  height: 600px;
}
.library-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
  padding: 1rem;
  background-color: var(--accent2-color);
  border-radius: 10px;
}
.description {
  font-size: 1.2rem;
  color: var(--paragraph-color-on-white);
  margin: 1rem;
  padding: 1rem;
  background-color: var(--accent1-color);
  border-radius: 10px;
}

.library-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: var(--accent1-color);
  border-radius: 10px;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 3rem 1rem;
}
.linkImg {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.linkImg {
  transition: transform 0.3s ease;
}
.linkImg:hover {
  transform: scale(1.03);
}

fieldset {
  border: 2px solid var(--accent1-color);
  padding: 1rem;
  margin: 2rem 0;
  border-radius: 8px;
  background-color: var(--accent2-color);
  margin-left: 1rem;
  margin-right: 1rem;
}
fieldset legend {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
}
fieldset label {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-top: 1rem;
  font-weight: bold;
  display: block;
}
fieldset input,
fieldset textarea {
  display: block;
  width: 98%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--accent1-color);
  border-radius: 5px;
}
fieldset button {
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  background-color: var(--accent1-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
fieldset button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: background-color 0.3s ease;
}

footer {
  background-color: var(--primary-color);
  color: #d4aa7d;
  text-align: center;
  position: relative;
  padding-top: 10px;
  padding-bottom: 15px;
  bottom: 0;
  width: 100%;
}
.social-media a {
  color: #d4aa7d;
  margin: 0 10px;
  text-decoration: none;
}
.social-media a:hover {
  color: var(--accent2-color);
  text-decoration: underline;
}


.dark-mode nav a {
  background-color: #07004d;
  color: var(--primary-color);
}
.dark-mode nav a:hover {
  background-color: #bfd7ea;
  text-decoration: underline;
  color: #07004d;
}
.dark-mode h2 {
  color: #f5f5f5;
  text-align: center;
  margin: 1rem;
}
.dark-mode h3 {
  color: #f5f5f5;
  text-align: center;
  margin: 1rem;
}
.dark-mode .social-media a:hover {
  color: #bfd7ea;
  text-decoration: underline;
}

.dark-mode {
  background-color: #07004d;
  color: #f5f5f5;
}
.dark-mode nav {
  background-color: #07004d;
  color: #f5f5f5;
}

.dark-mode a {
  color: #82aaff;
}
.dark-mode .library-info {
  background-color: #778da9 !important;
  border-color: #333;
}
.dark-mode .description {
  color: #f5f5f5;
  background-color: #778da9;
  border-color: #333;
}
.dark-mode .home-grid {
  background-color: #07004d;
  border-color: #333;
}
.dark-mode header,
.dark-mode footer {
  background-color: #07004d;
  color: #f5f5f5;
}

.dark-mode nav a {
  color: #f5f5f5;
}

.dark-mode .home-grid,
.dark-mode article {
  background-color: #1e1e1e;
  border-color: #333;
}
.dark-mode fieldset {
  background-color: #837569;
  border-color: #333;
}
.dark-mode fieldset label {
  font-size: 1.2rem;
  color: white;
  margin-top: 1rem;
  font-weight: bold;
  display: block;
}

.dark-mode h2 {
  color: #f5f5f5;
  text-align: center;
  margin: 1rem;
}

.dark-mode fieldset button {
  background-color: #07004d;
  color: #f5f5f5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.dark-mode fieldset button:hover {
  background-color: #bfd7ea;
  color: #07004d;
  transition: background-color 0.3s ease;
}

/* .Logo {
  width: 60px;
  height: 60px;
  border-radius: 75%;
  margin-left: 20px;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
} */

/* nav {
  display: flex;
  justify-content: right;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  max-width: 100%;
}
nav a {
  text-align: center;
  background-color: var(--primary-color);
  text-decoration: none;
  color: #d4aa7d;
  text-decoration: bold;
  padding: 10px 20px;
}
nav a:hover {
  background-color: var(--secondary-color);
  text-decoration: underline;
  color: #22181c;
} */

/* .dark-mode nav a {
  background-color: #07004d;
  color: var(--primary-color);
}
.dark-mode nav a:hover {
  background-color: #bfd7ea;
  text-decoration: underline;
  color: #07004d;
} */

/* header {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 150px auto;
} */
/* 
#hero-msg h1,
#hero-msg h4 {
  text-align: center;
  background-color: var(--primary-color);
  color: aliceblue;
}
#hero-msg h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  font-family: var(--heading-font);
  font-weight: 400;
}
#hero-msg h4 {
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  font-family: var(--heading-font);
  font-weight: 400;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
} */

/* #hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  z-index: -1;
} */
/* 
#hero-image,
#hero-image-home {
  width: 100%;
  max-width: 100rem;
  height: auto;
  max-height: 550px;
  object-fit: cover;
  transition: opacity 0.5s ease;
} */

/* #hero-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: 1/ -1;
  grid-row: 1/3;
  padding: 4rem 1rem;
} */

/* .search_row {
  display: flex;
  margin: 1%;
  padding: 0.8%;
  gap: 0.5rem;
  align-items: center;
}

.search_row input {
  flex-grow: 1;
  height: 2rem;
}

.search_row img {
  height: 23px;
} */

/* body {
  font-family: var(--paragraph-font);
  margin: 0;
  padding: 0;
} */

/* h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  text-align: center;
  margin: 1rem;
} */

/* .dark-mode h2 {
  color: #f5f5f5;
  text-align: center;
  margin: 1rem;
}
*/

/* h3 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  text-align: center;
  margin: 1rem;
} */
/* .dark-mode h3 {
  color: #f5f5f5;
  text-align: center;
  margin: 1rem;
} */

/* .books,
.movies {
  margin: 2rem;
  height: auto;
  width: auto;
}

.book-image {
  display: block;
  justify-self: center;
  width: auto;
  height: 600px;
}

.library-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
  padding: 1rem;
  background-color: var(--accent2-color);
  border-radius: 10px;
}

.description {
  font-size: 1.2rem;
  color: var(--paragraph-color-on-white);
  margin: 1rem;
  padding: 1rem;
  background-color: var(--accent1-color);
  border-radius: 10px;
}

.library-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: var(--accent1-color);
  border-radius: 10px;
} */

/* .dark-mode .library-info {
  background-color: #778da9 !important;
  border-color: #333;
}
.dark-mode .description {
  color: #f5f5f5;
  background-color: #778da9;
  border-color: #333;
} */

/* 
.home-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 3rem 1rem;
} */

/* .dark-mode .home-grid {
  background-color: #07004d;
  border-color: #333;
} */



/* .linkImg {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.linkImg {
  transition: transform 0.3s ease;
}
.linkImg:hover {
  transform: scale(1.03);
} */

/* fieldset {
  border: 2px solid var(--accent1-color);
  padding: 1rem;
  margin: 2rem 0;
  border-radius: 8px;
  background-color: var(--accent2-color);
  margin-left: 1rem;
  margin-right: 1rem;
}

fieldset legend {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
}

fieldset label {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-top: 1rem;
  font-weight: bold;
  display: block;
}

fieldset input,
fieldset textarea {
  display: block;
  width: 98%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--accent1-color);
  border-radius: 5px;
}

fieldset button {
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  background-color: var(--accent1-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

fieldset button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: background-color 0.3s ease;
} */

/* footer {
  background-color: var(--primary-color);
  color: #d4aa7d;
  text-align: center;
  position: relative;
  padding-top: 10px;
  padding-bottom: 15px;
  bottom: 0;
  width: 100%;
}

.social-media a {
  color: #d4aa7d;
  margin: 0 10px;
  text-decoration: none;
}

.social-media a:hover {
  color: var(--accent2-color);
  text-decoration: underline;
} */
/* .dark-mode .social-media a:hover {
  color: #bfd7ea;
  text-decoration: underline;
}

.dark-mode {
  background-color: #07004d;
  color: #f5f5f5;
}
.dark-mode nav {
  background-color: #07004d;
  color: #f5f5f5;
}

.dark-mode a {
  color: #82aaff;
}

.dark-mode header,
.dark-mode footer {
  background-color: #07004d;
  color: #f5f5f5;
}

.dark-mode nav a {
  color: #f5f5f5;
}

.dark-mode .home-grid,
.dark-mode article {
  background-color: #1e1e1e;
  border-color: #333;
}
.dark-mode fieldset {
  background-color: #837569;
  border-color: #333;
}
.dark-mode fieldset label {
  font-size: 1.2rem;
  color: white;
  margin-top: 1rem;
  font-weight: bold;
  display: block;
}

.dark-mode h2 {
  color: #f5f5f5;
  text-align: center;
  margin: 1rem;
}

.dark-mode fieldset button {
  background-color: #07004d;
  color: #f5f5f5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.dark-mode fieldset button:hover {
  background-color: #bfd7ea;
  color: #07004d;
  transition: background-color 0.3s ease;
} */

@media (max-width: 600px) {
  header {
    grid-template-columns: 1fr;
    text-align: center;
  }

  nav {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  nav a {
    width: 100%;
    box-sizing: border-box;
  }

  #hero-msg h1 {
    font-size: 2rem;
  }

  .books,
  .movies {
    margin: 1rem;
  }
  .book-image {
    width: 100%;
    height: auto;
  }

  .search_row {
    flex-direction: column;
    align-items: stretch;
  }

  .search_row input {
    width: 100%;
  }

  .home-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 1rem;
  }

  footer {
    font-size: 0.8rem;
    margin: auto;
    padding: 0.5rem 0;
  }
}
